* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 200px;
  background-color: #b2282f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header img {
  height: 100px;
}

header .header-pages ul {
  display: flex;
  padding-top: 10px;
}

header .header-pages ul li {
  padding-right: 30px;
  list-style: none;
}

header ul li a {
  color: #002d75;
  text-decoration: none;
}

main {
  width: 100%;
  background-color: #002d75;
}

main .home {
  height: calc(100vh - 300px);
  width: 100%;
  background-color: #002d75;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 100px;
  background-image: url(/images/footer-montagne-bottom.jpg?d53b01335f4c26b84b40ca2ab0a64ece);
}

