* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 200px;
  background-color: #b2282f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header img {
  height: 100px;
}

header .header-pages ul {
  display: flex;
  padding-top: 10px;
}

header .header-pages ul li {
  padding-right: 30px;
  list-style: none;
}

header ul li a {
  color: #002d75;
  text-decoration: none;
}

main {
  width: 100%;
  background-color: #002d75;
}

main .home {
  height: calc(100vh - 300px);
  width: 100%;
  background-color: #002d75;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .products {
  padding-bottom: 20px;
}

main .products .lista-prodotti {
  display: flex;
  flex-wrap: wrap;
}

main .products .lista-prodotti h2 {
  width: 100%;
  padding-top: 15px;
  padding-top: 15px;
  margin-left: 10px;
  color: #b2282f;
}

main .products .lista-prodotti .prodotto {
  width: calc( 100% / 3 - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  position: relative;
  height: 260px;
}

main .products .lista-prodotti .prodotto img {
  width: 100%;
  height: 100%;
}

main .products .lista-prodotti .prodotto a .hover-prodotto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #d2e1e6;
  opacity: 0.5;
  display: none;
  justify-content: center;
  align-items: center;
}

main .products .lista-prodotti .prodotto a .hover-prodotto p {
  font-size: 14px;
  color: #690965;
}

main .products .lista-prodotti .prodotto:hover .hover-prodotto {
  display: flex;
}

main .news {
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

main .news ul img {
  height: 50px;
  padding-bottom: 10px;
}

main .news ul li {
  list-style: none;
  color: #b2282f;
  padding-bottom: 10px;
}

footer {
  width: 100%;
  height: 100px;
  background-image: url(/images/footer-montagne-bottom.jpg?d53b01335f4c26b84b40ca2ab0a64ece);
}

