header{
  width: 100%;
  height: 240px;
  background-color: #b2282f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & img{
    height: 150px;
  }

  & .header-pages ul{
    display: flex;
    padding-top: 10px;
    &  li {
      padding-right: 30px;
      list-style: none;
      font-size: 30px;

      & a {
        &.active{
          background-color: $cl-logo;
          border-radius: 5px;
          color: #b2282f;
          padding: 10px;
        }
      }

    }


  }

  & ul li a {
    color: $cl-logo;
    text-decoration: none;
  }
}
