main{
  width: 100%;
  background-color: $cl-logo;
  // height: calc(100% - 300px);

  & .home{
    height: calc(100vh - 300px);
    width: 100%;
    background-color: $cl-logo;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .products{
    padding-bottom: 20px;

    & .lista-prodotti{
      display: flex;
      flex-wrap: wrap;

      & .prodotto{
        width: calc( 100% / 3 - 20px);
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        position: relative;
        height: 260px;
        // background-color: yellow;

          & img {
            width: 100%;
            height: 100%;

          }


        & a .hover-prodotto{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 100%;
          height: 100%;
          background-color: #d2e1e6;
          opacity: 0.5;
          display: none;
          justify-content: center;
          align-items: center;
          // display: none;
          & p{
            font-size: 14px;
            color: rgb(105, 9, 101);
          }
        }
        &:hover .hover-prodotto{
          display: flex;
        }
      }
    }
  }

  & .news {
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    // height: calc(100vh - 300px);

    & ul img {
      height: 50px;
      padding-bottom: 10px;
    }
    & ul li {
      list-style: none;
      color: #b2282f;
      padding-bottom: 10px;
    }
  }
}
