main{
  width: 100%;
  background-color: $cl-logo;
  // height: calc(100% - 300px);

  & .home{
    height: calc(100vh - 300px);
    width: 100%;
    background-color: $cl-logo;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
